<div class="row align-items-center">
  <div class="col">
    <%= form_for @user, url: login_path do |f| %>
      <div class="form-row align-items-center justify-content-center">
        <div class="col-sm-3">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
          <span class='error inline-block'><%= flash[:user_error] %></span>
        </div>
        <div class="col-sm-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <span class='error inline-block'><%= flash[:password_error] %></span>
        </div>
        <%= f.submit 'Login', class: 'btn btn-primary margin-top-7px' %>
      </div>
    <% end %>
  </div>
</div>
