<h1>Login form</h1>
<%= form_for @user, url: login_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :email %>
  <%= f.submit 'Login' %>
<% end %>
<% if flash[:error].present? %>
  <p class='error'><%= flash[:error] %></p>
<% end %>

<%= link_to "Sign up", root_path %>