<h1>Welcome to BlockFolio</h1>

<ul>
  <% @portfolios.each do |portfolio| %>
    <li>Portfolio name: <%= portfolio.name %></li>
    <li>Portfolio owner: <%= link_to "#{portfolio.user.email}", user_portfolios_path(portfolio.user) %></li>
    <li>Amount of coins: <%= portfolio.coins.count %></li>
    <strong>Total Value: <%= number_to_currency(portfolio.display_total_value, precision: 0) %></strong>
    <p><%= link_to 'See Portfolio', portfolio_path(portfolio) %></p>
    <% if can? :destroy, portfolio %>
      <p><%= link_to "Delete Portfolio", portfolio_path(portfolio), method: :delete %></p>
    <% end %>
    <hr>
  <% end %>
</ul>