<%= form_for @portfolio do |f| %>
  <strong>Portfolio:</strong>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <p class='error'><%= show_errors(@portfolio, :name) %></p>
  <%= f.submit 'Continue' %>
<% end %>