<h1>Portfolio form</h1>
<%= form_for @portfolio do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <p class='error'><%= show_errors(@portfolio, :name) %></p>
  <p class='error'><%= show_errors(@portfolio, :unique_name) %></p>
  <%= f.submit %>
<% end %>