<h1>Portfolio: <%= @portfolio.name %></h1>
<h2>Owner: <%= @portfolio.display_owner(current_user) %></h2>

<% if can? :create, @portfolio %>
  <%= form_for [@portfolio, @coin_portfolio] do |f| %>
    <%= render :partial => 'partials/coin_form', locals: {f: f} %>
    <%= f.submit 'Add coin' %>
  <% end %>
<% end %>

<%= render :partial => 'partials/portfolio_coins', :collection => @portfolio_coins, :as => :coin %>

<strong>Total Value: <%= number_to_currency(@portfolio.display_total_value, precision: 0) %></strong>