<h2>Portfolio: <%= @portfolio.name %></h2>
<%= link_to "Edit", edit_portfolio_path(@portfolio) if can? :edit, @portfolio %>
<%= link_to "Delete", portfolio_path(@portfolio), method: :delete if can? :destroy, @portfolio %>

<% if can? :create, @portfolio %>
  <%= form_for [@portfolio, @coin_portfolio] do |f| %>
    <div class="form-row align-items-center">
      <%= render :partial => 'partials/coin_form', locals: {f: f} %>
      <%= f.submit 'Add coin', class: 'btn btn-primary margin-top-7px' %>
    </div>
  <% end %>
<% end %>

<table class="table">
  <thead>
  <tr>
    <th class="border-top-0">Name</th>
    <th class="border-top-0">Symbol</th>
    <th class="border-top-0">Price USD</th>
    <th class="border-top-0">Market cap USD</th>
    <th class="border-top-0">Percent change 24</th>
    <th class="border-top-0">Quantity</th>
    <th class="border-top-0">Value</th>
  </tr>
  </thead>
  <tbody>
    <%= render partial: 'partials/portfolio_coins', collection: @portfolio_coins, as: :coin %>
  </tbody>
</table>

<p><strong>Total Value: <%= number_to_currency(display_total_value(@portfolio), precision: 0) %></strong></p>
<p><strong>Owner: <%= render partial: 'partials/display_owner', locals: {portfolio: @portfolio} %></strong></p>