<h1>Portfolio: <%= @portfolio.name %></h1>
<h2>Owner: <%= @portfolio.user.email %></h2>

<% if can? :create, @portfolio %>
  <%= render :partial => "partials/new_form" %>
<% end %>

<%= render :partial => 'partials/portfolio_coins', :collection => @portfolio_coins, :as => :coin %>

<strong>Total Value: <%= number_to_currency(@portfolio.display_total_value, precision: 0) %></strong>