<h1><%= @user.email %> portfolio's:</h1>
<ul>
  <% @portfolios.each do |portfolio| %>
    <li>Portfolio name: <%= portfolio.name %></li>
    <li>Amount of coins: <%= portfolio.coins.count %></li>
    <strong>Total Value: <%= number_to_currency(portfolio.total_value) %></strong>
    <p><%= link_to 'See Portfolio', portfolio_path(portfolio) %></p>
    <p><%= link_to "Delete Portfolio", portfolio_path(portfolio), method: :delete %></p>
    <hr>
  <% end %>
</ul>