<div class="col-sm-3">
  <%= f.fields_for :coin do |coin_fields| %>
    <%= coin_fields.label :name %>
    <%= coin_fields.text_field :name, list: 'coin-name', class: 'form-control' %>
    <span class='error inline-block'><%= show_errors(@coin_portfolio, :coin) %></span>
    <datalist id="coin-name">
      <% Coin.list(@portfolio || @coin_portfolio.portfolio, @coin_portfolio.coin).each do |coin| %>
        <option value="<%= coin.name %>"></option>
      <% end %>
    </datalist>
  <% end %>
</div>
<div class="col-sm-3">
  <%= f.label :quantity %>
  <%= f.number_field :quantity, class: 'form-control' %>
  <span class='error inline-block'><%= show_errors(@coin_portfolio, :quantity) %></span>
</div>