<tr>
  <td><%= portfolio.name %></td>
  <td><%= link_to "#{display_owner(portfolio, current_user)}", user_portfolios_path(portfolio.user) %></td>
  <td><%= coins_count(portfolio) %></td>
  <td><%= number_to_currency(display_total_value(portfolio), precision: 0)%></td>
  <td>
    <span class="float-right">
      <span class="oi oi-pencil" title="icon name" aria-hidden="true"></span>
      <span class="oi oi-circle-x" title="icon name" aria-hidden="true"></span>
    </span>
  </td>
</tr>
<%= link_to "Delete Portfolio", portfolio_path(portfolio), method: :delete if can? :destroy, portfolio %>
<%= link_to "Edit Portfolio", edit_portfolio_path(portfolio) if can? :edit, portfolio %>
