<tr>
  <td><%= coin.name %></td>
  <td><%= coin.symbol %></td>
  <td><%= number_to_currency(coin.price_usd) %></td>
  <td><%= number_to_currency(coin.market_cap_usd, precision: 0) %></td>
  <td><%= number_to_percentage(coin.percent_change_24h, precision: 2) %></td>
  <td><%= quantity(coin, @portfolio) %></td>
  <td><%= number_to_currency(display_value(coin, @portfolio), precision: 0) %></td>
  <% if can? :edit, find_coin_portfolio(coin, @portfolio) %>
    <td class="border-top-0 position-absolute w-100">
      <%= link_to 'Edit', edit_coin_portfolio_path(find_coin_portfolio(coin, @portfolio)), class: 'badge badge-light mr-1' if can? :edit, find_coin_portfolio(coin, @portfolio) %>
      <%= link_to "Delete", coin_portfolio_path(find_coin_portfolio(coin, @portfolio)), class: 'badge badge-danger', method: :delete if can? :destroy, find_coin_portfolio(coin, @portfolio) %>
    </td>
  <% end %>
</tr>
