<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <h1>Sign up</h1>
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <span class='error inline-block'><%= show_errors(@user, :email) %></span>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <span class='error inline-block'><%= show_errors(@user, :password) %></span>
      </div>
      <%= f.submit 'Sign up', class: 'btn btn-primary w-100' %>
      <%= link_to('/auth/facebook', class: 'btn btn-block mt-3 btn-social btn-facebook') do %>
        <span class="fa fa-facebook"></span>
        Continue with Facebook
      <% end %>
    <% end %>
  </div>
</div>