<h1>Most valued portfolios</h1>
<ul>
  <% @top_portfolios.each do |portfolio| %>
    <li>Portfolio name: <%= portfolio.name %></li>
    <li>Portfolio owner: <%= link_to "#{portfolio.display_owner(current_user)}", user_portfolios_path(portfolio.user) %></li>
    <li>Amount of coins: <%= portfolio.coins.count %></li>
    <strong>Total Value: <%= number_to_currency(portfolio.total_value) %></strong>
    <p><%= link_to 'See Portfolio', portfolio_path(portfolio) %></p>
    <hr>
  <% end %>
</ul>