<!DOCTYPE html>
<html>
  <head>
    <title>Blockfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <%= link_to "Login", login_path %>
    <%= link_to "Logout", logout_path, method: :delete %>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
