<h1><%= @coin.name %></h1>
<ul>
  <li><%= @coin.price_usd %></li>
  <li><%= @coin.market_cap_usd %></li>
  <li><%= @coin.percentage_change_24h %></li>
</ul>
<%= link_to 'Edit coin', edit_coin_portfolio_path(@coin_portfolio) %>
<%= link_to 'Back to portfolio', portfolio_path(@coin_portfolio.portfolio) %>
